<md-content layout="row" layout-align="space-around" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 id="loginHeader"><span>Reset Password</span></h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="vm.form" ng-if="!vm.visibleCode">
                <p> Enter the Coyote ID and the registered email address below. The reset code will be sent to that email address</p>
                <md-content>
                    <md-input-container class="md-block">
                        <label>Coyote ID:</label>
                        <input type="number" required ng-model="vm.coyoteID"/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Email:</label>
                        <input type="text" required ng-model="vm.email"/>
                    </md-input-container>
                </md-content>
                <md-button ng-disabled="vm.form.$invalid" class="md-raised md-primary" ng-click="vm.send()">Send Code</md-button>
            </form>
            <p ng-if="vm.incorrectemail"> Email address entered is not the registered email address. For more help contact the administration department</p>
            <form ng-if="vm.visibleCode">
                <p> Enter the code that was to your registered email</p>
                <md-content>
                    <md-input-container class="md-block">
                        <label>Code:</label>
                        <input type="number" required ng-model="vm.code"/>
                    </md-input-container>
                    <div ng-if="vm.code == vm.actualCode">
                        <md-input-container class="md-block">
                            <label>New Password</label>
                            <input type="password" required name="password" ng-model="vm.newPassword" placeholder="New Password"/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Confirm Password</label>
                            <input type="password" required name="password" ng-model="vm.confirmpassword" placeholder="Confirm Password"/>
                        </md-input-container>
                    </div>
                    <md-button class="md-raised md-primary" ng-disabled="(vm.newPassword != vm.confirmpassword) || vm.newPassword == ''" ng-click="vm.change()">Submit</md-button>
                </md-content>
                <!--<md-button ng-disabled="vm.form.$invalid" class="md-raised md-primary" ng-click="vm.check()">Submit</md-button>-->
            </form>
        </md-card-content>
    </md-card>
</md-content>
