<md-content layout="row" layout-align="space-around" ng-cloak="ng-cloak">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="50" >
        <md-content>
            <div>
                <p>Course Name: {{vm.course.details.name}}</p>
                <p>Course ID: {{vm.course.details.course_id}}</p>
                <p>Course Type: {{vm.courseType}}</p>
                <p ng-if="vm.course.details.has_lab">Has Practical: YES</p><p ng-if="!vm.course.details.has_lab">Has Practical: NO</p>
                <p>Units: {{vm.course.details.units}}</p>
            </div>
            <!--<md-button class="md-primary" ng-click="vm.editcourse(course)">Edit</md-button>-->
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label='{{schedule.quarter}} {{schedule.year}}' ng-repeat="schedule in vm.course.schedule">
                            <md-content class="md-padding">
                                <md-card>
                                    <md-content>
                                        <p>Instructor: {{schedule.instructor}}</p>
                                        <div ng-if="schedule.course_day">
                                            <div ng-if="schedule.course_day">
                                                <p>Course Day: {{schedule.course_day}}</p>
                                                <p>Course Time: <time>{{schedule.course_start_time}}</time> - <time>{{schedule.course_end_time}}</time></p>
                                            </div>
                                            <p ng-if="!schedule.course_day">Course Day: N/A</p>
                                        </div>
                                        <div ng-if="vm.course.details.has_lab">
                                            <div ng-if="schedule.lab_day">
                                                <p>Lab Day: {{schedule.lab_day}}</p>
                                                <p>Lab Time: <time>{{schedule.lab_start_time}}</time>-<time>{{schedule.lab_end_time}}</time></p>
                                            </div>
                                            <p ng-if="!schedule.lab_day">Lab Day: ONLINE</p>
                                        </div>
                                        <md-button class="md-raised md-primary" ng-click="vm.editschedule(schedule,vm.course.details.has_lab,vm.course.details.course_id)">Edit</md-button>
                                        <md-button class="md-raised md-primary" ng-click="vm.deleteCourseSchedule($event,schedule.quarter,schedule.year,schedule)">Delete</md-button>
                                    </md-content>

                                </md-card>

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
                <md-button class="md-raised md-primary" ng-click="vm.addSchedule()">Add Schedule</md-button>
            </div>
        </md-content>
    </md-card>
</md-content>