<!-- Student Home Page-->

<md-content class="md-padding" ng-if="vm.role=='student'">
    <div layout="row"  layout-xs="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Courses Details</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>Click view to know the information of courses you've taken and are enrolled</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.student.userCourseDetails">View</md-button>
            </md-card-actions>
        </md-card>

        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Recommendation Path</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>Click here to view the recommendation path of courses for upcoming quarter</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.student.recommendationPath">View</md-button>
            </md-card-actions>
        </md-card>

        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Review Questionnaire</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>Click to modify the details you've entered while signing up</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.student.questionnaire">View</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<!-- Admin Home Page-->

<md-content class="md-padding" ng-if="vm.role=='admin'">
    <div layout="row"  layout-xs="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Admin Card</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary">View</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>


<!-- Advisor Home Page-->
<md-content class="md-padding" ng-if="vm.role=='advisor'">
    <div layout="row"  layout-xs="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Advisor Card</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary">View</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
