<!-- Student Home Page-->

<md-content class="md-padding" ng-if="vm.role=='student'">
    <div layout="row"  layout-xs="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Courses Details</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>Click view to know the information of courses you've taken and are enrolled</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.student.userCourseDetails">View</md-button>
            </md-card-actions>
        </md-card>

        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Recommendation Path</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>Click here to view the recommendation path of courses for upcoming quarter</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.student.recommendationPath">View</md-button>
            </md-card-actions>
        </md-card>

        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Review Questionnaire</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>Click to modify the details you've entered while signing up</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.student.reviewquestionnaire">View</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<!-- Admin Home Page-->

<md-content class="md-padding" ng-if="vm.role=='administrator'">
    <md-toolbar class="md-whiteframe-1dp">
        <div class="md-toolbar-tools">
            <div class="md-title">User Management</div>
        </div>
    </md-toolbar>
    <div layout="row"  layout-xs="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Search and Modify User Information</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>Click to view, update & delete user information</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.admin.userDetails">View</md-button>
            </md-card-actions>
        </md-card>


        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Create New User</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>Create new user (Admin/Advisor)</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.admin.createUser">View</md-button>
            </md-card-actions>
        </md-card>

    </div>

    <md-toolbar class="md-whiteframe-1dp">
        <div class="md-toolbar-tools">
            <div class="md-title">Course Management</div>
        </div>
    </md-toolbar>
    <div layout="row"  layout-xs="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Search and Modify Course Information</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>Click to view, update & delete course information</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.admin.courseDetails">View</md-button>
            </md-card-actions>
        </md-card>


        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch flex flex-gt-xs="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Create New Course</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.admin.createCourse">View</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<!-- Advisor Home Page-->
<md-content layout="row" layout-align="space-around" class="md-padding" ng-if="vm.role=='advisor'">
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="50">
            <md-content>
                <md-card-title>
                    <md-card-title-text>
                    <span class="md-subhead"><b>NOTE: </b>Enter the student name and/or coyote ID(Eg: 004657847) to search and then click on the search button.
                    When the student information is displayed, click on view button to view the student records.</span>
                    </md-card-title-text>
                </md-card-title>
                <form name="vm.form">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Student Name</label>
                        <input type="text" name="searchName" ng-model="vm.searchName">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Coyote ID</label>
                        <input type="number" name="searchID" ng-model="vm.searchID">
                    </md-input-container>
                </form>
                <md-button type="submit" ng-disabled="vm.searchName==''&& vm.searchID==''" class="md-raised md-primary" ng-click="vm.search(vm.searchName,vm.searchID)">Search</md-button>
            </md-content>
            <md-content ng-if="vm.user.length != 0 && vm.user != undefined">
                <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                    <md-card-title>
                        Name: {{vm.user.name}}
                    </md-card-title>
                    <md-card-content>
                        <p>Coyote ID: {{vm.user.coyote_id}}</p>
                        <p>Role: {{vm.userRole}}</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-click="vm.view(vm.user)">View</md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
            <md-content ng-if="vm.user == undefined">
                <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                    <md-card-title>
                        No Record found
                    </md-card-title>
                </md-card>
            </md-content>
        </md-card>
</md-content>
