<md-content layout="row" layout-align="space-around" ng-cloak="ng-cloak" class="login-form">
    <md-card flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Questionnaire</span></h2>
            </div>
        </md-toolbar>
        <md-card-title>
            <md-card-title-text>
                <span class="md-subhead" style="font-size: large"><b>NOTE: </b>Please modify the questionnaire and click <b>Update</b> to save new preferences.</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="vm.form">
                <md-content>
                    <p><em><b>In order for the system to recommend a schedule of courses for you, please answer the following questions:</b></em></p>
                    <p><b>What is your degree option? (Please select one)</b></p>
                    <md-radio-group ng-model="vm.preference.preference.degree_preference">
                        <md-radio-button value="Project">Project</md-radio-button>
                        <md-radio-button value="Thesis">Thesis</md-radio-button>
                        <md-radio-button value="Comprehensive Exam">Comprehensive Exam</md-radio-button>
                    </md-radio-group>
                    <md-divider></md-divider>

                    <p><b>For elective courses, what are your preferences?</b></p>
                    <md-radio-group ng-model="vm.preference.preference.lecture_preference">
                        <md-radio-button value= 1>Lecture and lab</md-radio-button>
                        <md-radio-button value=0>Lecture</md-radio-button>
                    </md-radio-group>
                    <md-divider></md-divider>

                    <p><b>On which days do you prefer to take classes?(Select all that apply)</b></p>
                    <md-checkbox ng-checked="vm.exists('MondayAndWednesday', vm.preference.day_preference)" ng-click="vm.toggle('MondayAndWednesday', vm.preference.day_preference)">
                        Monday and Wednesday
                    </md-checkbox>
                    <md-checkbox ng-checked="vm.exists('TuesdayAndThursday', vm.preference.day_preference)" ng-click="vm.toggle('TuesdayAndThursday', vm.preference.day_preference)">
                        Tuesday and Thursday
                    </md-checkbox>
                    <md-checkbox ng-checked="vm.exists('Friday', vm.preference.day_preference)" ng-click="vm.toggle('Friday', vm.preference.day_preference)">
                        Friday
                    </md-checkbox>
                    <md-divider></md-divider>

                    <p><b>Which time do you prefer to take classes?(Select all that apply))</b></p>
                    <md-checkbox ng-checked="vm.exists('Morning', vm.preference.time_preference)" ng-click="vm.toggle('Morning', vm.preference.time_preference)">
                        Morning: Between 08:00am - 12:00pm
                    </md-checkbox>
                    <md-checkbox ng-checked="vm.exists('Afternoon', vm.preference.time_preference)" ng-click="vm.toggle('Afternoon', vm.preference.time_preference)">
                        Afternoon: Between 12:00pm - 05:00pm
                    </md-checkbox>
                    <md-checkbox ng-checked="vm.exists('Evening', vm.preference.time_preference)" ng-click="vm.toggle('Evening', vm.preference.time_preference)">
                        Evening: Between 05:00pm - 10:00pm
                    </md-checkbox>
                    <md-divider></md-divider>

                    <p><b>Do you prefer to take summer courses?</b></p>
                    <md-radio-group ng-model="vm.preference.preference.summer_course_preference">
                        <md-radio-button value=1>Yes</md-radio-button>
                        <md-radio-button value=0>No</md-radio-button>
                    </md-radio-group>
                    <md-divider></md-divider>

                    <p><b>How many courses do you prefer to take in upcoming quarter? (Enter 1-4)</b></p>
                    <input type="number" ng-maxlength="4" ng-minlength="1" name="phone" ng-model="vm.preference.preference.course_count_preference">
                    <md-divider></md-divider>

                    <p><b>Do you want to do course overload?</b></p>
                    <md-radio-group ng-model="vm.preference.preference.course_overload_preference">
                        <md-radio-button value=1>Yes</md-radio-button>
                        <md-radio-button value=0>No</md-radio-button>
                    </md-radio-group>
                    <md-divider></md-divider>

                    <p><b>Are you interested in taking independent study?</b></p>
                    <md-radio-group ng-model="vm.preference.preference.independent_study_preference">
                        <md-radio-button value=1>Yes</md-radio-button>
                        <md-radio-button value=0>No</md-radio-button>
                    </md-radio-group>
                    <md-divider></md-divider>

                </md-content>
                <md-button ng-disabled="vm.form.$invalid" class="md-raised md-primary" aria-label="Login" ng-click="vm.update()">Update</md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>